{{ partial "header.html" . }}
<div class="w3-row-padding">
	<div class="w3-col m6 l6 s12  w3-margin-bottom">
		<div class="w3-hover-shadow w3-border w3-border-theme">
			<header class="w3-container w3-theme"><h5 class="w3-center">Mathematical tools</h5></header>
			{{- range first 5 (where .Data.Pages "Section" "mathematics") -}}
			<div class="w3-container w3-center w3-section">
				<a href="{{ .Permalink }}" class="w3-button w3-white w3-block w3-left-align w3-border w3-border-theme w3-ripple">
					{{ .Title }}
				</a>
			</div>
			{{- end -}}
			<div class="w3-container w3-center w3-margin"><a href="{{ .Site.BaseURL }}mathematics" class="w3-btn w3-theme w3-ripple">See more</a></div>
		</div>
	</div>
	<div class="w3-col m6 l6 s12  w3-margin-bottom">
		<div class="w3-hover-shadow w3-border w3-border-theme">
			<header class="w3-container w3-theme"><h5 class="w3-center">Other tools</h5></header>
			{{- range first 5 (where .Data.Pages "Section" "others") -}}
			<div class="w3-container w3-center w3-section">
				<a href="{{ .Permalink }}" class="w3-button w3-white w3-block w3-left-align w3-border w3-border-theme w3-ripple">
					{{ .Title }}
				</a>
			</div>
			{{- end -}}
			<div class="w3-container w3-center w3-margin"><a href="{{ .Site.BaseURL }}others" class="w3-btn w3-theme w3-ripple">See more</a></div>
		</div>
	</div>
</div>
{{ partial "footer.html" . -}}